div.alert.alert-danger {
  height: 30px;
  font-size: 0.8em;
  padding: 5px;
}

.panel-heading {
  background-color: #118AB2;
}

.panel-heading > h3 {
  margin: 3px;
}

.rb-radio-btns label {
  margin-right: 10px;
}

.rb-ingredient-input,
.rb-amount-input {
  margin-top: 5px;
  display: inline-block;

}

.rb-ingredient-input {
  width: 40%;
}

.rb-amount-input {
  width: 30%;
}

.rb-ingredient-label {
  width: 40%;
}

.rb-amount-label {
  width: 30%;
}

.ingredientBtn {
  margin-top: 10px;
}

.rb-form-btns > button:first-child {
  margin-right: 5px;
}
