
/* PANEL STYLES */

.panel-heading {
  background-color: #118AB2;
}

.panel-heading > h3 {
  margin: 3px;
}

div.panel-body {
  padding: 30px;
}


/* FORM STYLES */

form label {
  color: #118AB2
}

hr {
  /* border: 0; */
  height: 1px;
  background-color: lightgrey;
}

.rb-required-label {
  color: darkred;
  float: right;
  font-size: 0.9em;
}

.rb-radio-label {
  color: #118AB2
}

.rb-radio-btns label {
  margin-right: 10px;
}

.rb-ingredient-input,
.rb-amount-input {
  margin-top: 5px;
  display: inline-block;

}

.rb-ingredient-input {
  width: 40%;
}

.rb-amount-input {
  width: 40%;
}

.rb-ingredient-label {
  width: 40%;
}

.rb-amount-label {
  width: 30%;
}

.ingredientBtn {
  margin-top: 10px;
}

.rb-form-btns > button:first-child {
  margin-right: 5px;
}

div.alert.alert-danger {
  height: 30px;
  font-size: 0.8em;
  padding: 5px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {

  div.panel-body {
    padding: 10px;
  }

  .rb-ingredient-input {
    width: 50%;
  }

  .rb-amount-input {
    width: 45%;
  }
}
