.panel-heading {
  background-color: #118AB2;
}

.panel-heading > h3 {
  padding: 0;
  margin: 5px 0;
}

.rb-serves {
  font-style: italic;
}

.myTableCell {
  padding: 15px 0 15px 15px;
}

button.btn-lg {
  margin-bottom: 10px;
}

.btn-danger {
  background-color: #EF476F;
}

.btn-back {
  float: right;
}

.rb-index-btns > button:first-child {
  margin-right: 5px !important;
}

@media screen and (max-width: 500px) {
  button.btn.btn-lg {
    display: block;
    float: left;
    width: 100%;
  }

}
