div.alert.alert-danger {
  height: 30px;
  font-size: 0.8em;
  padding: 5px;
}

.rb-radio-btns label {
  margin-right: 10px;
}

.rb-ingredient-input,
.rb-amount-input {
  margin-top: 5px;
  display: inline-block;

}

.rb-ingredient-input {
  width: 40%;
}

.rb-amount-input {
  width: 30%;
}

.rb-ingredient-label {
  width: 40%;
}

.rb-amount-label {
  width: 30%;
}

.addIngredientBtn {
  margin-top: 10px;
}
