/* navigation styles */

nav.navbar.navbar-default {
  margin-bottom: 0;
  border: 1px dotted red;
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

div.container-fluid {
  max-width: 800px;
  margin:0 auto;
}

ul.nav > li {
  padding-top: 4px;
}

ul.nav.nav-tabs {
  border-bottom: none;
}

a {
  font-weight: bold;
}

/* content styles */

.page-wrapper {
  background-color: #2e2e2e;
}

.container {
  max-width: 800px;
  padding: 35px 0;
}

@media screen and (max-width: 500px) {
  .container {
    /* overwrite bootstrap */
    padding: 15px !important;
  }
   a.navbar-brand {
     /* hide the brand */
    display: none;
  }

}

@media screen and (max-width: 340px) {
  ul.nav-tabs > li > a {
    padding-left: 3px;
    padding-right: 3px;
  }
}
