button {
  margin-right: 10px; 
}

body {
  background: url('./assets/images/bg-img-wide.jpg') no-repeat;
  background-size:  cover; 
}

.myNavbar {
  max-width: 800px; 
  margin: 0 auto; 
  font-family: 'Roboto', sans-serif;
  font-size:1.2em; 
}

.myContainer {
  max-width: 800px; 
  padding: 15px; 
  font-family: 'Roboto', sans-serif;
  font-size:1.2em; 
}


.about-link {
  float: right; 
  margin-right: 20px; 
}