button {
  margin-right: 10px;
}

body, html {
  background-color: #2e2e2e;
}

body {
  /* background: url('./assets/images/bg-img-wide.jpg') no-repeat; */
  background-size:  cover;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

.myNavbar {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size:1.2em;
  margin-bottom: 0;
}

.page-wrapper {
  background-color: #2e2e2e;

}

.myContainer {
  max-width: 800px;
  padding: 35px 0;
  font-family: 'Roboto', sans-serif;
  font-size:1.2em;
}


.about-link {
  float: right;
  margin-right: 20px;
}
