<header>
  <nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
      <a [routerLink]="['/home']" class="navbar-brand"><b>RECIPE BOOK</b></a>
        <ul class="nav nav-tabs">
          <li><a [routerLink]="['/home']">HOME</a></li>
          <li><a [routerLink]="['/reactive']">ADD RECIPE</a></li>
          <li><a [routerLink]="['/about']">ABOUT</a></li>
        </ul>
    </div>
  </nav>
</header>

<main role="main" class="page-wrapper">
  <div class="container" >
    <router-outlet></router-outlet>
  </div>
</main>
